<h1>New Character</h1>

<form action="/characters" method="POST">
    <input type="text" name="character[name]" placeholder="Name">
    <input type="text" name="character[race]" placeholder="Race">
    <input type="text" name="character[gender]" placeholder="Gender">
    <input type="text" name="character[profession]" placeholder="Profession">
    <button>Save</button>
</form>

<a href="/characters">Go Back</a>