<h1>Inventory Index Page</h1>

<a href="/inventory/new">New Inventory Item</a>

<% inventory.forEach(function(inventory){ %>
    <div>
        <a href="/inventory/<%= inventory._id %>"><h3><%= inventory.name %></h3></a>
    </div>
<% }); %>