<h1>New Inventory Item</h1>

<form action="/characters/<%= character._id %>/inventory" method="POST">
    <input type="text" name="inventory[name]" placeholder="Name">
    <input type="text" name="inventory[weight]" placeholder="Weight">
    <input type="text" name="inventory[quantity]" placeholder="Quantity">
    <input type="text" name="inventory[type]" placeholder="Type">
    <button>Save</button>
</form>

<a href="/inventory">Go Back</a>