<h1>Show Page for <%= journal.title %></h1>

<p><%= journal.content %></p>

<a href="/journal">Go Back</a>
<form action="/journal/<%= journal._id %>?_method=DELETE" method="POST">
    <button>Delete</button>
</form>