<h1>New Journal</h1>

<form action="/user/character/journal" method="POST">
    <input type="text" name="journal[title]" placeholder="Title">
    <textarea name="journal[content]" placeholder="Note"></textarea>
    <button>Save</button>
</form>