<h1>Journal Page</h1>

<a href="/characters/<%= character._id %>/journal/new">New Journal Entry</a>

<% character.journals.forEach(function(journal){ %>
    <div>
        <p><%= journal.title %></p>
    </div>
<% }); %>