<h1>Journal Page</h1>

<a href="/characters/<%= character._id %>/journal/new">New Journal Entry</a>

<% character.journals.forEach(function(journal){ %>
    <div>
        <p><a href="/characters/<%= character._id %>/journal/<%= journal._id %>"><%= journal.title %></a></p>
    </div>
<% }); %>